
osx_image: xcode9
language: objective-c
podfile: Example/Podfile

env:
  global:
    - LANG=en_US.UTF-8
    - COCOAPODS_DISABLE_DETERMINISTIC_UUIDS=true

before_install:
  - rvm use system
  - sudo gem install cocoapods

cache:
  - bundler

script:
  - pod install --project-directory=Example
  # - scan
